@tailwind base;
@tailwind components;
@tailwind utilities;
.link {
  @apply text-black text-opacity-80 hover:underline hover:underline-offset-2 active:text-opacity-100;
}

.content h2 {
  font-weight: 700;
  font-size: 32px;
  color: #1E1E1E;
  margin-top: 20px;
}

.content h3 {
  font-weight: 700;
  font-size: 20px;
  color: #1E1E1E;
  margin-top: 16px;
}

.content h4 {
  font-weight: 700;
  font-size: 16px;
  color: #1E1E1E;
  margin-top: 16px;
}
